snippet api "api" b
import { test } from "../../../apis/apis"
endsnippet

snippet axio "p" w
axios.get({$1:test})
.then(function (response) {
// handle success
console.log(response);
})
.catch(function (error) {
// handle error
console.log(error);
})
.then(function () {
// always executed
});
endsnippet

